:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

h1, h2, h3 {
    text-align: center;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}

*, *:before, *:after {
    box-sizing: inherit;
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color:  var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
}

span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--blanco);
}

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.buton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 760px) {
    .buton {
        width: auto;
    }
}

@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: 300px 300px;
        justify-content: center;
        column-gap: 1rem;
    }
}


.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
}

.servicio p {
    line-height: 2;
    text-align: center;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
